@import url('https://fonts.googleapis.com/css?family=Lobster');
body{
    font-family: 'Lobster', cursive;
    overflow-y: hidden;

}
section{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
div{
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    z-index: 80;
    background-position: center;
    background-size: cover;

}
#aretha{
    background-image: url("../img/aretha.jpg");
    left: 0;

}


#dionne{
    left: 25%;
    background-image: url("../img/dionne.jpg");

}
#diana{
    left: 50%;
    background-image: url("../img/diana.jpg");


}
#etta{
    left: 75%;
    background-image: url("../img/etta.jpg");

}
aside{
    position: fixed;
    z-index: 150;
}
#fondo1{
    background-color: rgba(255,0,255,0.30);
    z-index: 100;
    left:0;
}
#fondo2{
    background-color: rgba(0,0,255,0.30);
    z-index: 100;
    left: 25%;
}
#fondo3{
    background-color: rgba(255,0,153,0.30);
    z-index: 100;
    left: 50%;

}#fondo4{
     background-color: rgba(0,153,255,0.30);
     z-index: 100;
     left: 75%;
 }

 h1{
     color: white;
     text-shadow: 2px 2px #000000;
     font-size: 150px;
     position: fixed;
     z-index: 200;
     text-align: center;
     top: -18%;
     width: 100%;

 }
 div:hover{;
     height: 130%;
     transition: 2s;

 }
 a{
    margin-bottom: 50px;
    margin-left: 135px;
    bottom: 0;
    position: fixed;
    color:black;
    z-index: 900;
    text-decoration: none;
    font-size: 1em;

}
 a:hover{
     font-size: 50px;
     font-weight: 900;
     transition: 5s;
     -webkit-transform: rotate(-360deg);


 }
